<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ECOMTEST" connectionString="Data Source=matterhorn;Initial Catalog=ECOMTEST;Persist Security Info=True;User ID=olympus;Password=olympus"/>
    <add name="ECOMLIVE" connectionString="Data Source=matterhorn;Initial Catalog=ECOMLIVE;Persist Security Info=True;User ID=olympus;Password=olympus"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>